<%- include('./inc/style')%>
<h1>Welcome</h1><br>
My name is <b><%= author%></b><br>
<a href="https://twitter.com/felixfong227">@felixfong227</a><br>
<img src="https://avatars3.githubusercontent.com/u/13918481?v=3" class="icon"><br>